alabaster==0.7.13
annotated-types==0.5.0
anyio==3.7.1
astroid==2.15.6
Babel==2.12.1
beautifulsoup4==4.12.2
black==23.7.0
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
deep-translator==1.11.4
dill==0.3.7
distlib==0.3.7
dnspython==2.4.2
docutils==0.20.1
fastapi==0.103.0
filelock==3.12.3
googletrans==3.0.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore
httpx
hyperframe==5.2.0
idna==2.10
imagesize==1.4.1
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
joblib==1.3.2
langdetect==1.0.9
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
motor==3.3.0
mypy==1.5.1
mypy-extensions==1.0.0
nltk==3.8.1
packaging==23.1
pathspec==0.11.2
pipenv==2023.8.26
platformdirs==3.10.0
pluggy==1.3.0
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
pylint==2.17.5
pymongo==4.5.0
pytest==7.4.0
regex==2023.8.8
requests==2.31.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
starlette==0.27.0
textblob==0.17.1
tomlkit==0.12.1
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.23.2
virtualenv==20.24.3
wrapt==1.15.0
